




html{
    font-family:Calibri, Helvetica, Serif;
    background-color: rgba(186, 214, 225, 0.51);
}
#menu {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    list-style-type: none;
    background-image:url("assets/fond_texte.png");
    padding: 13px;
    padding-left: 5px;
    box-shadow: 3px 3px 3px rgb(227, 227, 227);
    border-radius: 100px;
    width:60%;
}
#logo-nav {
height:130px
}
nav{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:90%;
}
#menu li {
    margin-right: 10px;
    color: #1b687c;
    font-size: 16px;
    padding: 3px;
    list-style-type: none;
    transition: background-color 0.5s;
    user-select: none;
    border-radius: 60px;
}
#menu li:hover {
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 60px;
    cursor: pointer;
    border: #3f8d97 1px;
}
#menu li:first-child{
    margin-left : 10px;
}
#sousmenu {
    text-align: center;
    position: absolute;
    top: 100px;
    opacity:0;
    visibility: hidden;
    transition: opacity 1s ease,visibility 0.5s;
    background-color: #f9f9f9;
    box-shadow: 3px 3px 3px rgba(227, 227, 227, 0.5);
    border-radius: 10px;
    width: 200px;
    z-index: 1;
}
.sec_miss1{
    background:linear-gradient(to top right, #97c2cd, #7ec0dc);
    list-style-type: none;
    margin: 13px;
    box-shadow: 3px 3px 3px rgb(227, 227, 227);
    border-radius: 100px;
    min-height : 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
    height:auto;
    padding: 20px;
    margin-left:100px ;
    margin-right:100px ;
}
h1 {
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-top: 15px;
    display :flex;
    justify-content: center;
}
#menu li:hover #sousmenu {
    opacity:1;
    visibility: visible;
}
#sousmenu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
#sousmenu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display:block;
}
#sousmenu a {
    text-decoration: none;
    color:inherit;
}

.sec_miss2{


}

h4 {
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-top: 15px;
    display :flex;
    font-size: 23px;;
    color: rgba(21, 71, 87, 0.3);
    align-items: center;
    justify-content: center;
    background:linear-gradient(to top , #b6d3da, #98bac3);
    box-shadow: 3px 3px 3px rgba(136, 136, 136, 0.48);
}
h5 {
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-top: 15px;
    display :flex;
    font-size: 23px;

}
h6 {
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-top: 15px;
    display: flex;
    font-size: 23px;;
}
#titreM3{
    background-image:url("assets/fond_de_titre.png");
    background-size: cover;
    color: rgba(255, 255, 255, 0.97);
    width: 100%;
    box-shadow: 3px 3px 3px rgb(159, 159, 159);
    backdrop-filter: blur(10px);
    font-family:"kanit", sans-serif;
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
    background-position-y: -80px;
    margin-bottom: 5px;
}
.bloquedetexte {
    width: 50%;
    background:linear-gradient(to top , #98acc3, #8d9fb3);
    color: white;
    padding: 3px;
    border: 1px solid white;
    margin: 5px;
    position: relative;
    box-shadow: 3px 3px 3px rgba(227, 227, 227, 0.5);
    height: 200px;
    font-size: 16px;
    padding-top: 0;

}
#organisation_texte{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}
#log_pharm{
   max-height: 70px;
}