body{
    font-family: Calibri, Helvetica, serif;
    font-size: 20px;
    padding-bottom: 50px;
    background-color: rgba(186, 214, 225, 0.51);
}
nav {
    background-color: #03588C;
    padding: 10px;
    height: auto;
    display: grid;
    text-align: center;
    border-radius: 15px;
    grid-template-columns: auto auto auto;
}

nav a {
    font-size: 1.2rem;
    color: white;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.menu {
    position: relative;
    display: inline-block;
}

.contenu_menu {
    border-radius:15px;
    display: none;
    position: absolute;
    background-color: gray;
    width: 100%;
    box-shadow: 0 8px 16px;
    z-index: 1;
}

.contenu_menu a {
    padding: 10px;
    display: block;
}

.menu:hover .contenu_menu {
    display: block;
}

nav a:hover {
    border-radius: 15px;
    background-color:#41c649;
}

.contenu_menu > :first-child:hover{
    border-radius: 15px;
    background-color:lightgreen;
}

.contenu_menu > :nth-child(2):hover{
    border-radius: 15px;
    background-color:lawngreen;
}

.contenu_menu > :last-child:hover{
    border-radius: 15px;
    background-color: #41c649;
}

h1,h2, h3 {
    text-align: center;
}

h2{
    text-decoration: #03588C underline;
    font-size: 2rem;
}

h1{
    box-shadow: 3px 3px 3px rgb(159, 159, 159);
    font-family:"kanit", sans-serif;
    color: rgba(255, 255, 255, 0.97);
    padding: 80px 0;
    background-image:url("assets/fond_de_titre.png");
    background-size: cover;
}


ul{
    box-shadow: 3px 3px 3px rgb(159, 159, 159);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3f8d97;
    list-style-position: inside;
    margin: 0 20px;
    border-radius: 15px;

}

li,.conception p {

    font-size: 1.5rem;
    margin: 30px 80px;
    color: white;
    background-color: #03588C;
    padding: 10px;
    border: 2px #41c649 solid;
    border-radius: 10px;
}

.conception {
    box-shadow: 3px 3px 3px rgb(159, 159, 159);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #3f8d97;
    border-radius: 15px;
    margin: 10px 20px;

}

@media (max-width : 1200px) {
    .conception {flex-direction: column}


}
